@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    width: 90vw;
    font-family: 'Varela Round', sans-serif;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: 1 fr;
    align-items: stretch;
    justify-items: center;
    height: 100vh;
}

.smallcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

footer {
    text-align: center;
}

.navbarcell {
        justify-self: stretch;
        text-align: center;
}

.navbar {
    width: 100vw;
}

a:hover {
    background-color: gray;
}

.logo {
        justify-self: start;
}

